* {
    margin: 0;
    padding: 0;
}

.anh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tieude {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nut {
    margin-left: 47%;
}